$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;

$color-white: #fff;
$color-black: #000;

$color-text-grey: #777;
$color-text-white: #eee;

$default-font-size: 1.6rem;


// Grid
$grid-width:114rem;
$gutter-horizontal: 6rem;
$gutter-verical: 8rem;
