@keyframes moveInleft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(2rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInright{
    0%{
        opacity: 0;
        transform: translateX(4rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInbottom{
    0%{
        opacity: 0;
        transform: translateY(4rem);
    }

    80%{
        transform: translateY(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
