.u-center-text{text-align: center;}
.u-margin-bottom-big{
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem!important;
    }
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium{
    margin-bottom: 4rem !important;
    
    @include respond(tab-port){
        margin-bottom: 3rem!important;
    }
}

.u-margin-top-big{margin-top: 10rem;}
.u-margin-top-medium{margin-top: 5rem;}
.u-margin-top-small{margin-top: 2rem;}

