.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 20rem 0;
    background-image:linear-gradient(
        to right bottom,
        rgba($color-primary-light,.8),
        rgba($color-primary-dark,.8)),
    url(../../img/nat-4.jpg); 
    background-size: cover;
    background-position: top;

    transform: skewY(-7deg);
    margin-top: -10.5rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 30rem 0 15rem 0;
    margin-top: -10rem;
}


.section-stories{
    position: relative;
    padding: 12rem 0;
}
